//colors
$DBrown: #7C593C;
$LGrey: #D4D4D4;
$white: #fff;
$MBlue: #89C0C9;
$DBlue: #3A5E63;
$LBrown: #C9A689;
$LBlue: #C7F7FF;
$DGrey: #222;

//fonts
$font_0: "Josefin Sans";
$font_1: "‘Trebuchet MS’";
$font_2: "Helvetica";
$font_3: "sans-serif";
$font_4: "Cardo";
$font_5: "‘Palatino Linotype’";
$font_6: "‘Book Antiqua’";
$font_7: "Palatino";
$font_8: "serif";